# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
loanenv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac
.DS_Store

# Logs
*.log

# VS Code
.vscode/

# Environment variables (if you add later)
.env